h1{
    text-shadow: 3px 3px red;
    text-shadow: 3px 3px red , 5px 5px 5px blue;
    /* text-shadow: 3px 3px red; */
}
.box{
    background-color: aqua;
    height: 200px;
    width: 200px;
    color: red;
    box-shadow: -10px -10px 50px yellow, 10px 10px 10px green;
}